@font-face {
    font-family: Roboto-Regular;
    src: url('../fonts/Roboto-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

.container {
    font-family: Roboto-Regular, sans-serif;
    font-size: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 250px;
    justify-content: space-evenly;
}

.game-title {
    display: block;
    margin: 20px 0 0 0;
    text-align: center;
    font-size: 45px;
    font-weight: 600;
}

.result-game__text {
    font-size: 35px;
}

.game-board {
    max-width: 910px;
    margin: 10px 0 0 0;
    display: grid;
    grid-template: repeat(6, 100px) / repeat(6, 150px);
    grid-gap: 2px;
}

.square {
    display: flex;
    background-color: #ffa500;
}

.square:hover {
    cursor: pointer;
}

.squaer__text {
    display: none;
    color: #000000;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.js-target-for-user {
    display: flex;
    color: #ffffff;
    background-color: #008000;
}

.btn-wrp {
    display: flex;
    width: 300px;
    justify-content: space-evenly;
}

.game-btn {
    border: 1px solid #007bff;
    padding: 10px;
    box-sizing: border-box;
    background-color: #007bff;
    border-radius: 4px;
    color: #ffffff;
    outline: none;
    font-size: 18px;
    font-weight: 600;
    margin: 20px 0 0 0;
}

.game-btn:hover {
    color: #007bff;
    background-color: #ffffff;
    cursor: pointer;
}

.game-btn:active {
    color: #ffffff;
    background-color: #007bff;
}

.start-btn {
    border: 1px solid #8f8b1f;
    padding: 10px;
    box-sizing: border-box;
    background-color: #fff700;
    border-radius: 4px;
    color: #000000;
    outline: none;
    font-size: 18px;
    font-weight: 600;
    margin: 20px 0 0 0;
}

.start-btn:hover {
    background-color: #ffffff;
    cursor: pointer;
}

.start-btn:active {
    background-color: #fff700;
}